@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}
<div class="col-sm-2">
    <div id="sidebar" class="navbar-dark bg-dark">
        <ul>
            <li><a asp-action="Index" asp-controller="Profile" asp-route-id="@claim">Account Information</a></li>
            <li><a asp-action="PaymentInformation" asp-controller="Profile" asp-route-id="@claim">Payment Information</a></li>
            <li><a asp-action="WishList" asp-controller="Profile" asp-route-id="@claim">WishList</a></li>
            <li><a asp-action="OrderHistory" asp-controller="Profile" asp-route-id="@claim" >Order History</a></li>
            <li><a asp-action="AddressBook" asp-controller="Profile" asp-route-id="@claim" >AddressBook</a></li>
            <li><a asp-action="Edit" asp-controller="Profile" asp-route-id="@claim">Edit Profile</a></li>
        </ul>
    </div>
</div>


