@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}

<div class="col-sm-2 sidebar-offcanvas">
    <div class="list-group">
        <a asp-action="Index" asp-controller="Profile" asp-route-id="@claim" class="list-group-item active">Account Information</a>
        <a asp-action="PaymentInformation" asp-controller="Profile" asp-route-id="@claim"  class="list-group-item">Payment Information</a>
        <a asp-action="WishList" asp-controller="Profile" asp-route-id="@claim"  class="list-group-item">WishList</a>
        <a asp-action="OrderHistory" asp-controller="Profile" asp-route-id="@claim"  class="list-group-item">Order History</a>
        <a asp-action="AddressBook" asp-controller="Profile" asp-route-id="@claim"  class="list-group-item">AddressBook</a>
        <a asp-action="Edit" asp-controller="Profile" asp-route-id="@claim"  class="list-group-item">Edit Profile</a>
    </div>
</div>