@await Html.PartialAsync("_ProfilePartial")
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}
@model BookCave.Models.ViewModels.AddressListViewModel
<div class="col-sm-6">
    @for(var i = 1; i <= @Model.AddressBook.Count; i++)
    {
        <div class="jumbotron col-sm-4" >
            <h3>Address @i</h3>
            <ul>
                <li>StreetLine: @Model.AddressBook[i-1].StreetLine</li>
                <li>PostalCode: @Model.AddressBook[i-1].PostalCode</li>
                <li>Country: @Model.AddressBook[i-1].Country</li>
                <li>City: @Model.AddressBook[i-1].City</li>
                <li>Province: @Model.AddressBook[i-1].Province</li>
            </ul>
            <form asp-action="DeleteAddress" asp-controller="Profile">
                <input type="hidden" name="UserId" value="@claim">
                <input type="hidden" name="AddressId" value="@Model.AddressBook[i-1].Id">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
    }
    <div class="jumbotron hidden" id="AddAddressDiv" >
        <form asp-action="AddressBook" asp-controller="Profile" class="form-horizontal from-control">
            <div class="form-group">
                <input type="text" asp-for="@Model.NewAddress.StreetLine" placeholder="Enter SteetLine" class="form-control">
                <span asp-validation-for="@Model.NewAddress.StreetLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="@Model.NewAddress.PostalCode" placeholder="Enter PostalCode" class="form-control">
                <span asp-validation-for="@Model.NewAddress.PostalCode" class="text-danger"></span>
            </div>
             <div class="form-group">
                <select asp-for="@Model.NewAddress.Country" class="form-control">
                    @foreach(var country in @Model.Countries)
                    {
                        <option value="@country.Name" >@country.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.NewAddress.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="@Model.NewAddress.City" placeholder="Enter City" class="form-control">
                <span asp-validation-for="@Model.NewAddress.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" asp-for="@Model.NewAddress.Province" placeholder="Enter Province" class="form-control">
                <span asp-validation-for="@Model.NewAddress.Province" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.NewAddress.UserId" value="@claim">
            <input type="submit" value="Add Address" class="btn btn-default">
        </form>
        <div class="text-danger">@ViewData["ErrorMessage"]</div>
</div>
<button class="btn btn-success" id="CreateAddress">Add Address</button>