@await Html.PartialAsync("_ProfilePartial")
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}
@model BookCave.Models.ViewModels.PaymentListViewModel
<div class="col-sm-6">
    @for(var i = 1; i <= @Model.Payments.Count;i++)
        {  
            <div class="jumbotron">
                <h3>Payment Information @i</h3>
                <ul>
                    <li>Card Number: @Model.Payments[i-1].CardNumber</li>
                    <li>Card Holder: @Model.Payments[i-1].CardHolder</li>   
                    <li>Expires: @Model.Payments[i-1].ExpireMonth / @Model.Payments[i-1].ExpireYear</li>
                </ul>
                <form asp-action="DeletePayment" asp-controller="Profile">
                    <input type="hidden" name="PaymentId" value="@Model.Payments[i-1].Id">
                    <input type="hidden" name="UserId" value="@claim">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        }
    <button class="btn btn-default" id="CreatePayment">Add Payment</button>
    <div class="jumbotron" hidden id="AddPaymentDiv">
        <form asp-action="AddPayment" asp-controller="Profile" class="form-horizontal" class="form-control">
            <div class="form-group">
                <input type="text" asp-for="@Model.NewPayment.CardNumber" placeholder="Enter Card Number" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" asp-for="@Model.NewPayment.CardHolder" placeholder="Enter Card Holder Name" class="form-control">
            </div>
            <div class="form-group">
                <label for="ExpireMonth">ExpireMonth</label>
                <select asp-for="@Model.NewPayment.ExpireMonth">
                    <option value=''>Month</option>
                    <option value='01'>January</option>
                    <option value='02'>February</option>
                    <option value='03'>March</option>
                    <option value='04'>April</option>
                    <option value='05'>May</option>
                    <option value='06'>June</option>
                    <option value='07'>July</option>
                    <option value='08'>August</option>
                    <option value='09'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select> 
            </div>
            <div class="form-group">
                <label for="ExpireYear">ExpireYear</label>
                <select asp-for="@Model.NewPayment.ExpireYear">
                    <option value=''>Year</option>
                    <option value='2018'>2018</option>
                    <option value='2019'>2019</option>
                    <option value='2020'>2020</option>
                    <option value='2021'>2021</option>
                </select> 
            </div>
            <input type="hidden" asp-for="@Model.NewPayment.UserId" value="@claim">
            <input type="submit" value="Add Payment" class="btn btn-default">
        </form>
</div>

