@model BookCave.Models.ViewModels.CategoryIndexViewModel;


<div class="jumbotron">
    <ul>
        <li>
           Book of the week @Model.BOTW.Name
        </li>
        <li>
            User Favorite @Model.UserFav.Name
        </li>
        <li>
            Newest release @Model.NewestRelease.Name
        </li>
        <li>
            Best deal @Model.CheapestBook.Name
        </li>
        @foreach(var m in @Model.Top10AllCategories)
        {
            <ul>
            <li>@m.Name</li>
            <ul>
                @foreach(var b in m.Top10Books)
                {
                    <li>@b.Name</li>
                    <li>@b.Author</li>
                }
            </ul>
            </ul>
        }
        @foreach(var m in @Model.Top10SubCategories)
        {
            <ul>
            <li>@m.Name</li>
            <ul>
                @foreach(var b in m.Top10Books)
                {
                    <li>@b.Name</li>
                    <li>@b.Author</li>
                }
            </ul>
            </ul>
        }
    </ul>
</div>