@model List<BookCave.Models.ViewModels.MainCategoryViewModel>
@using BookCave.Models.ViewModels;


<div class="jumbotron">
    <ul>
        @foreach(var m in @Model)
        {
            <li><a id="cat-link-@m.ID" asp-action="Index" asp-controller="Category" asp-route-id="@m.ID"><strong>@m.Name</strong></a>
                <ul class="subcategory-table" id="cat-table-@m.ID">
                @foreach(var s in @m.SubCategories)
                {
                    <li><a asp-action="SubCategory" asp-controller="Category" asp-route-id="@s.ID"> -- @s.Name</a>
                        <ul class="subcategory-book-table" id="cat--book-table-@s.ID">
                        @foreach(var b in s.BookList)
                            {
                                <li><a asp-action="Details" asp-controller="Book" asp-route-id="@b.ID"> ------ @b.Name</a></li>
                            }
                        </ul>
                        
                    </li>
                }
                </ul>
            </li>
        }
    </ul>
</div>    
