@model List<BookCave.Models.ViewModels.MainCategoryTop10ListViewModel>
@using BookCave.Models.ViewModels;


<div class="jumbotron">
    <ul class="Thumbnail">
        @foreach(var m in @Model)
        {
            <div class="thumbnails">
                <li class="span4"><a id="cat-link-@m.ID" asp-action="SubCategory" asp-controller="Category" asp-route-id="@m.ID"><h3>@m.Name</h3></a>
                    <ul class="subcategory-table" id="cat-table-@m.ID">
                    
                    
                        @foreach(var b in @m.Top10Books)
                        {
                            <ul class="thumbnails">
                                <li class="span4">
                                    <div class="thumbnail">
                                        <img data-src="holder.js/300x200" alt="HerKemurMynd">
                                        <h3>@b.Name</h3>
                                        <p>@b.Author</p>
                                    </div>
                                </li>
                                
                                </ul>



                    }
                    </ul>
                </li>
            </div>
        }
    </ul>
</div>    
