@model BookCave.Models.ViewModels.AllCategoriesViewModel
@using BookCave.Models.ViewModels;


<div class="jumbotron">
    <ul>
        @foreach(CategoryViewModel mc in @Model.MainCategories)
        {
            <li><a id="cat-link-@mc.Id" asp-action="SubCategories" asp-controller="Category" asp-route-id="@mc.Id">@mc.Name</a>
                <ul class="subcategory-table" id="cat-table-@mc.Id">
                @foreach(var s in @Model.SubCategories.Where(s => s.CategoryId == mc.Id))
                {
                    <li><a asp-action="AllInSubCategory" asp-controller="Category" asp-route-id="@s.Id">---@s.Name</a></li>
                }
                </ul>
            </li>
        }
    </ul>
</div>    
