@model BookCave.Models.ViewModels.SubCategoryViewModel
<div>
    <div>
        <h2>Top 10 in: @Model.Name</h2>
            <ul>
            @foreach(var m in @Model.Top10Books)
            {
                    <li><a asp-controller="Book" asp-action="Details" asp-route-id="@m.ID">@m.Name</a></li>
            }
            </ul>
            <h3>All Books in: @Model.Name</h3>
            <ul>
            @foreach(var b in @Model.BookList)
            {
                <li><a asp-controller="Book" asp-action="Details" asp-route-id="@b.ID">@b.Name</a></li>
            }
            </ul>
            
    </ul>
    </div>
</div>