@model BookCave.Models.ViewModels.SubCategoryViewModel
<div>
<form asp-action="Index" asp-controller="Home">
    <input type="text" name="search">
    <input type="submit" value="Search" class="">
</form>
    <div>
        <h2>@Model.Name</h2>
            <ul>
            @foreach(var m in @Model.Top10Books)
            {
                    <li><a asp-controller="Book" asp-action="Details" asp-route-id="@m.ID">@m.Name</a></li>
            }
            </ul>
            <h3>List of all in this category</h3>
            <ul>
            @foreach(var b in @Model.BookList)
            {
                <li><a asp-controller="Book" asp-action="Details" asp-route-id="@b.ID">@b.Name</a></li>
            }
            </ul>
            
    </ul>
    </div>
</div>