@model BookCave.Models.ViewModels.CategoryViewModel
<div class="jumbotron jumbotron-fluid">
    <div>
        @foreach(var m in @Model.Top10AllCategories)
        {
            <ul>
                <li><h2>Top 10 <a asp-controller="Category" asp-action="SubCategory" asp-route-id="@m.ID">@m.Name</a></h2></li>
                <ul>
                    @foreach(var b in m.Top10Books)
                    {
                        <li>@b.Name</li>
                    }
                </ul>
            </ul>
            
        }
        <h3>Top 10 in SubCategories</h3>
        @foreach(var m in @Model.SubCategories)
        {
            
            <ul>
            <li><h4>Top 10 <a asp-controller="Category" asp-action="SingleCat" asp-route-id="@m.ID">@m.Name</a></h4></li>
                <ul>
                @foreach(var b in m.Top10Books)
                {
                    <li><a asp-controller="Book" asp-action="Details" asp-route-id="@b.ID">@b.Name</a></li>
                }
                </ul>
            </ul>
        
        }
        
    </div>
</div>