@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}

@model BookCave.Models.ViewModels.CartViewModel
<div class="col-sm-4">
    @for(var i = 1; i <= @Model.Cart.Count;i++)
    {
        <h3>item @i</h3>
        <div class="jumbotron">
            <ul>
                <li><a asp-action="Details" asp-controller="Book" asp-route-id="@Model.Cart[i-1].BookId" asp-route-userid="@claim">@Model.Cart[i-1].BookName</a></li>
                <li>Price: @Model.Cart[i-1].Price</li>
                <li>Quantity: @Model.Cart[i-1].Quantity</li>
                <li>TotalPrice: @Model.Cart[i-1].TotalPrice</li>
            </ul>
            <form asp-action="DeleteFromCart" asp-controller="Cart">
                <input type="hidden" name="CartItemId">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    }
    @if(!(@Model.Cart.Count == 0))
    {
        <h3>Cart Total Price: @Model.CartTotalPrice</h3>
        <form asp-action="Checkout" asp-controller="Cart">
            <input type="hidden" asp-for="@Model.UserId" value="@claim">
            <input type="hidden" asp-for="@Model.CartTotalPrice" value="@Model.CartTotalPrice">
            <input type="submit" value="Check Out" class="btn btn-success">
        </form>
    }
    else
    {
        <h3>Your cart is empty</h3>
    }
    
</div>

