@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}
@model BookCave.Models.ViewModels.BookViewModel

<div class="jumbotron">
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <p>@Model.Rating.ToString("0.0")</p>
</div>
<!-- 
<form asp-action="AddToWisList" asp-controller="Book">
    <img src="~/images/WishList.png">
</form>
-->
@if(@claim != null)
{
    <form asp-action="AddToWishList" asp-controller="Book">
        <input type="hidden" name="BookId" value="@Model.ID">
        <input type="hidden" name="WishListId" value="@claim">
        @if(Model.WishListToggle == true)
        {
            <input type="submit" value="RemoveFromWishList" class="btn btn-default">
        }
        else
        {
            <input type="submit" value="AddToWishList" class="btn btn-default">
        }
    </form>
}

<br>
<form asp-action="AddToCart" asp-controller="Cart" class="from-group">
    <input type="hidden" name="BookId" value="@Model.ID">
    <label for="Quantity">Quantity</label>
    <select name="Quantity" class="form-group">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
    <input type="submit" value="Add To Cart" class="btn btn-default">
</form>

@if(@claim != null)
{
<!-- This is the Area where you type in your comment and your rating for the book --> 
<div Id="RateArea"> 
    <form asp-action="SaveRate" asp-controller="Book" >
        <div class="form-group">
            <label asp-for="Comment">Comment</label>
            <textarea asp-for="Comment" class="form-control">Enter comment here...</textarea>
            <div class="form-check from-check-inline">
                <label class="form-check input"> Rate
                    <input type="radio" class="form-check-input" asp-for="Rate" value=1>1
                    <input type="radio" class="form-check-input" asp-for="Rate" value=2>2
                    <input type="radio" class="form-check-input" asp-for="Rate" value=3>3
                    <input type="radio" class="form-check-input" asp-for="Rate" value=4>4
                    <input type="radio" class="form-check-input" asp-for="Rate" value=5>5
                </label>
            </div>
            <input type="hidden" name="BookId" value=@Model.ID asp-for="BookId">
            <input type="hidden" name="UserId" value=@claim asp-for="UserId">
            <input type="submit" value="Rate" class="btn btn-default">
        </div>
    </form>
</div>
}
<!-- Prints out all the ratings in the model -->
<div id="RatedArea">
    <div>
        @foreach(var book in @Model.Ratings)
        {
            <p>@book.Id: @book.Comment , @book.Rate</p>
        }
    </div>